* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

.main-container{
    max-width: 1280px;
    margin: 0 auto;
}

ul{
    list-style-type: none
}

a{
    text-decoration: none;
    color: #464646;
}

img{
    display: block;
}